
AWS_ID=
AWS_KEY=

// aws simple queue service url
SQS_URL=

//kafka config
KAFKA_BROKER_URL=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKAJS_NO_PARTITIONER_WARNING=1


//clickhouse db config
CLICKHOUSE_DB_URL=